/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

p.custom-style {
  margin-top: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.78px;
  color: #000000;
  width: 1340px;
  height: 19px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** header ***********/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-image {
  width: 60px;
  margin-right: 10px;
}

.fa-search {
  display: none;
}
/* Styles de navigation */
nav ul {
  list-style-type: none;
  padding-top: 10px;
  padding-bottom: 40px;
  margin: 0;
  display: flex;
  gap: 100px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

/* * {
  outline: 1px solid red;
} */

nav li a {
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 0;
  transition: color 0.3s;
}

nav li a:hover {
  color: var(--main-color);
}

nav li a.active {
  border-top: 2px solid var(--main-color);
  padding-top: 16px;
  margin-top: 2px;
}

/***************** shearch bar */
.search-container {
  font-family: "Raleway", sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.under-title {
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  margin-top: 5px;
  margin-bottom: 20px;
}

.search-box {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 300px;
  background-color: #f0f0f0;
  border-radius: 15px;
}

.fa-location-dot {
  color: #000000;
  font-size: 20px;
  border-radius: 50%;
  background-color: #f2f2f2;
  margin-right: 13px;
}
.search-input {
  padding: 10px;
  padding-right: 5px;
  font-size: 14px;
  border: none;
  text-align: center;
  font-weight: bold;
  color: black;
  padding: 10px 20px;
  opacity: 1;
}
.search-input::placeholder {
  font-weight: bold;
  color: black;
  opacity: 1;
}

.search-button {
  background-color: var(--main-color);
  color: white;
  padding: 10px 20px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.location-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 13px;
  z-index: 1;
}

.search-button:hover {
  background-color: #0056b3;
}
/****** Filtres ***********/
.fa-fire:before {
  color: var(--main-color);
  content: "\f06d";
}

.filter-button {
  background-color: #ffffff;
  border: 1px solid #d1d1d1;
  font-weight: bold;
  border-radius: 25px;
  padding: 10px 20px;
  margin: 5px;
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.filter-button:hover {
  background-color: #e6e6e6;
}
.filter-button-active {
  font-weight: bold;

  background-color: #d3e7ff;
  border: 1px solid #d1d1d1;
  border-radius: 25px;
  padding: 10px 20px;
  margin: 5px;
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
  transition: background-color 0.3s ease;
}
.filter-button .icon,
.filter-button-active .icon {
  margin-right: 10px;
}
.filters span {
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  border-radius: 5px;

  font-weight: bold;
  color: #000000;
}
/****** note ***********/
.note {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  color: #000000;
  font-size: 16px;
}
.note i {
  color: #007bff;
  font-size: 18px;
  background-color: #0000;
}
.fa-info-circle {
  color: #ffffff;
  font-size: 1px;
  background-color: #de0e0e00;
}
/****** Hebergements ***********/
.hebergements {
  width: 65%;
  display: grid;
  gap: 20px;
  padding: 20px 0;
}

.hebergements-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hebergements-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 20px 0;
}

.hebergements-cards .card {
  min-height: 250px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.3s;
}

.hebergements-cards .card img {
  width: 100%;
  height: 130px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.hebergements-cards .card-title {
  margin-top: 1px;
  margin-bottom: 4px;
  font-weight: bold;
}

/* Styles for card subtitle (price) */
.hebergements-cards .card-subtitle {
  margin: 0;
  padding-top: 4px;
  padding-bottom: 3px;

  font-size: 13 px;
  color: #4a4a4a;
}

.hebergements-cards .card-rating {
  color: #007bff;
}

.hebergements-cards .card:hover {
  transform: scale(1.05);
}
.view-more {
  font-weight: bold;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 7px;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 6px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/******** activity ***********/

.activity {
  margin-top: 0px;
  padding: 20px;
}

.activity-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px;
}

.section-title {
  margin: 0;
  margin-bottom: 15 px;
  font-weight: bold;
}

.activity-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.activity-cards .card {
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  height: 300px;
  transition: transform 0.2s;
  margin: 0px;
  padding: 0;
  margin-top: 0;
  padding-top: 0;
  position: relative;
}

.activity-cards img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  z-index: -1;
}

.activity-cards .card-content {
  margin: 0px;
  padding: 12px;
  padding-top: 6px;
}

.activity-cards .card-title {
  font-size: 18px;
  margin: 0;
  padding-left: 5px;
  padding: 5px;
  padding-bottom: 5px;
}

.activity-cards .card-description {
  font-size: 14px;
  color: #777;
  margin: 0;
}

/******** footer ***********/

footer {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  padding: 20px;
  background-color: #f0f0f0;
}

.footer-section {
  flex: 1;
  padding: 10px;
  margin: 5px;
  margin-top: 0px;
}

.footer-section h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

.footer-section ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  font-size: 17px;
}

.footer-section li {
  margin-bottom: 15px;
  margin-top: 15px;
  font-size: 20px;
}

/****** Media queries ***********/
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 25px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}

/* Media Query pour les écrans de petite taille (par exemple, moins de 768px) */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    padding: 0;
    padding-left: 0;
    align-items: center;
  }
  .main-container {
    width: 100%;
    padding: 0px;
  }

  .fa-search {
    display: block;
    background-color: var(--main-color);
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 13px;
    border-radius: 25%;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

  .logo-container {
    justify-content: center;
    padding-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
  }

  /****** Schearch chnagement */
  .search-button {
    display: none;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }
  nav li {
    border-bottom: 2px solid var(--main-bg-color);
    width: 50%;
    text-align: center;
    padding-bottom: 15px;
    padding-left: 0;
    margin-left: 0;
    font-size: 16px;
  }
  nav li:has(> a.active) {
    border-bottom: 2px solid #007bff;
  }

  nav li a.active {
    border-top: none;
    color: #0065fc;
    padding-top: 0;
    margin-bottom: 16px;
    margin-top: 0;
    width: 100%;
    text-align: center;
  }

  nav ul {
    width: 100%;
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 16px;
    gap: 0;
    padding-left: 0;
    margin-left: 0;
  }
  .search-container {
    margin-left: 15px;
    margin-right: 15px;
    width: calc(100% - 30px);
  }
  /****** Schearch Box ***********/
  .search-box {
    margin-left: 15px;
    margin-right: 15px;
    height: 49px;
    width: calc(100% - 30px);
    align-items: center;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    border-radius: 15px;
    box-sizing: border-box;
  }
  .search-input {
    width: 80%;
    text-align: justify;
    font-size: 18px;
    height: 55%;
  }
  .location-icon {
    padding: 5px;
  }
  .fa-search {
    display: block;
    background-color: var(--main-color);
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 15px;
    border-radius: 25%;
    border: none;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  /****** Filtres ***********/
  .filters {
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
    margin-right: 15px;
    width: calc(100% - 30px);
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .filters > span, /* Ciblez le span qui contient le titre 'Filtres' */
    .filters > div {
    /* Ajoutez cette ligne si le titre 'Filtres' est dans une div */
    flex-basis: 100%; /* Force le titre à prendre toute la largeur */
    margin-bottom: 10px; /* Espace en dessous du titre */
    margin: 20 0;
  }
  .filter-button,
  .filter-button-active {
    flex-basis: calc(
      50% - 10px
    ); /* Prend la moitié de l'espace disponible, en soustrayant la marge */
    /* font-size: 12px; */
    text-align: left; /* Align text to the left inside the button */

    padding: 13px;
    margin: 5px; /* Maintient un petit espace autour des boutons */
  }
  .filter-button .icon,
  .filter-button-active .icon {
    margin-right: 5px;
    margin-left: 5px;
  }
  .filter-button:hover,
  .filter-button-active:hover {
    background-color: #deebff; /* Change la couleur de fond en #DEEBF7 lorsque la souris survole les éléments */
  }

  /****** note ***********/

  .note {
    margin-left: 15px;
    margin-right: 15px;
    width: calc(100% - 30px);
  }
  /****** Hebergements ***********/
  .hebergements {
    order: 2; /* La section hébergements sera affichée en second */
    width: 100%; /* Updated width to fit the container */
    display: grid;
    gap: 20px; /* Spacing between cards */
    padding: 15px 0; /* Added padding to space out from top and bottom */
    box-sizing: border-box;
    background-color: #ffffff !important;
  }

  .hebergements-and-populaires section {
    border-radius: 0px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
    padding-top: 15px;
    box-sizing: border-box;
    background-color: #ffffff; /* Couleur de fond mise à blanc */
  }
  .hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  /* Styles for the container of the cards */
  .hebergements-cards {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Spacing between cards */
    margin: 0px; /* Top and bottom margin for some spacing */
  }

  /* Styles for each card */
  .hebergements-cards .card {
    min-height: 200px;

    display: flex;
    flex-direction: column; /* Stack elements vertically */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect for depth */
    border-radius: 20px; /* Rounded corners */
    overflow: hidden; /* Hide any overflowing content */
    transition: transform 0.3s; /* Smooth transformation effect */
  }

  /* Styles for card image */
  .hebergements-cards .card img {
    width: 100%;
    height: 130px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  /* Styles for card content */
  .hebergements-cards .card-content {
    padding: 10px; /* Padding all around for spacing */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
  }

  /* Styles for card title */
  .hebergements-cards .card-title {
    margin-top: 1px;
    margin-bottom: 4px;
    font-weight: bold; /* Bold font for the title */
  }

  /* Styles for card subtitle (price) */
  .hebergements-cards .card-subtitle {
    margin: 0;
    padding-top: 4px;
    padding-bottom: 3px;

    font-size: 13 px;
    color: #4a4a4a; /* Slight grey color for subtitle */
  }

  /* Styles for card rating */
  .hebergements-cards .card-rating {
    color: #007bff; /* Blue color for the star ratings */
  }

  /* Hover effect for the card */
  .hebergements-cards .card:hover {
    transform: scale(1.05); /* Scale the card slightly on hover */
    padding: 0px;
  }
  /****** Populaires ***********/
  .populaires {
    order: 1; /* La section populaires sera affichée en premier */
    width: 100%;

    background-color: var(
      --main-bg-color
    ) !important; /* Mettez ici la couleur de fond souhaitée */
  }
  .populaires-cards {
    display: grid;

    justify-content: normal;
  }
  .populaires-cards a {
    width: 100%;
  }
  .populaires-cards .card {
    margin-top: 15px;
  }
  .populaires-title {
    margin-top: 10px;
    padding: 0px;
  }

  /******** activity ***********/
  .activity-cards {
    display: grid;
    grid-template-columns: repeat(
      1,
      1fr
    ); /* ou toute autre configuration adaptée aux mobiles */
  }
  .activity-cards .card {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    height: 200px;
    transition: transform 0.2s;
    margin: 0px;
    padding: 0;
    margin-top: 0;
    padding-top: 0;
    position: relative;
  }
  .activity-cards img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    z-index: -1;
  }
  /******** footer ***********/
  footer {
    display: grid;
    justify-content: normal;
    background-color: #f0f0f0;
  }
}
