/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}
h1 {
  margin-bottom: 0; /* Removes bottom margin of h1 */
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 22px;
}

p.custom-style {
  margin-top: 0; /* Removes top margin of p */
  /* the rest of your p.custom-style properties... */
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.78px;
  color: #000000;
  width: 1340px;
  height: 19px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** header ***********/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; /* Pour s'assurer que le header reste au-dessus des autres éléments */
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-image {
  width: 60px;
  margin-right: 10px;
}

/* Styles de navigation */
nav ul {
  list-style-type: none;
  padding-top: 10px; /* Réduit l'espacement du haut */
  padding-bottom: 40px; /* Augmente l'espacement du bas pour compenser */
  margin: 0;
  display: flex;
  gap: 100px;
  font-family: "Raleway", sans-serif; /* Utilisez la police Raleway */
  font-size: 14px; /* Taille de police de 14px */
}

/* * {
  outline: 1px solid red;
} */

nav li a {
  max-width: 100px; /* Ajustez cette valeur selon vos besoins */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 0;
  transition: color 0.3s; /* Effet de transition pour le survol */
}

nav li a:hover {
  color: var(--main-color);
}

/* Ajustements pour le lien actif */
nav li a.active {
  border-top: 2px solid var(--main-color);
  padding-top: 16px;
  margin-top: 2px;
}

/***************** shearch bar */
.search-container {
  font-family: "Raleway", sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.under-title {
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  margin-bottom: 20px;
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 28%;
  background-color: #f0f0f0; /* Fond gris */
  border-radius: 15px; /* Contour arrondi */
}

.fa-location-dot {
  color: #000000;
  font-size: 20px;
  border-radius: 50%;
  background-color: #f2f2f2;
  margin-right: 13px;
}
.search-input {
  padding: 10px;
  padding-right: 5px;
  font-size: 14px;
  border: none;
  text-align: center;
  font-weight: bold; /* Makes the placeholder text bold */
  color: black; /* Sets the placeholder text color to black */
  padding: 10px 20px;
  opacity: 1;
}
/* Style for the input field placeholder */
.search-input::placeholder {
  font-weight: bold; /* Makes the placeholder text bold */
  color: black; /* Sets the placeholder text color to black */
  /* Additional styles to ensure compatibility across different browsers */
  opacity: 1; /* Fixes the inconsistent opacity in different browsers */
}

.search-button {
  background-color: var(--main-color);
  color: white;
  padding: 10px 20px;
  border-top-left-radius: 0; /* Coin supérieur gauche sans arrondi */
  border-bottom-left-radius: 0; /* Coin inférieur gauche sans arrondi */
  border-top-right-radius: 15px; /* Coin supérieur droit arrondi */
  border-bottom-right-radius: 15px; /* Coin inférieur droit arrondi */
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.location-icon {
  display: flex; /* added */
  align-items: center; /* added */
  justify-content: center; /* added */
  margin-left: 13px; /* adjusted margin to overlap the icon */
  z-index: 1; /* added to bring it to the front */
}

.search-button:hover {
  background-color: #0056b3;
}
/****** Filtres ***********/
.fa-fire:before {
  color: var(--main-color);
  content: "\f06d";
}

.filter-button {
  background-color: #ffffff; /* White background */
  border: 1px solid #d1d1d1; /* Light grey border */
  font-weight: bold;

  border-radius: 25px; /* Rounded corners */
  padding: 10px 20px; /* Top/bottom and left/right padding */
  margin: 5px; /* Space between buttons */
  font-size: 14px; /* Text size */
  cursor: pointer; /* Hand cursor on hover */
  display: inline-block; /* Displayed inline with spacing */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.filter-button:hover {
  background-color: #e6e6e6; /* Light grey background on hover */
}
.filter-button-active {
  font-weight: bold;

  background-color: #d3e7ff;
  border: 1px solid #d1d1d1; /* Light grey border */
  border-radius: 25px; /* Rounded corners */
  padding: 10px 20px; /* Top/bottom and left/right padding */
  margin: 5px; /* Space between buttons */
  font-size: 14px; /* Text size */
  cursor: pointer; /* Hand cursor on hover */
  display: inline-block; /* Displayed inline with spacing */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}
.filter-button .icon,
.filter-button-active .icon {
  margin-right: 10px; /* Spacing between the icon and the text */
}
.filters span {
  font-family: "Raleway", sans-serif; /* Based on the provided image */
  font-size: 17px;
  border-radius: 5px;

  font-weight: bold;
  color: #000000; /* Black color for the text */
}
/****** note ***********/
/* Styling for the note */
.note {
  display: flex;
  align-items: center;
  gap: 10px; /* Spacing between icon and text */
  margin-top: 20px; /* Spacing from the filter buttons */
  padding: 10px;
  border-radius: 5px;
  color: #000000; /* Black color for the text */

  font-size: 16px;
}

/* Styling for the info icon in the note */
.note i {
  color: #007bff; /* Using blue for the info icon, you can adjust this */
  font-size: 18px;
  background-color: #0000;
}
.fa-info-circle {
  color: #ffffff;
  font-size: 1px;
  background-color: #de0e0e00;
}
/****** Hebergements ***********/
.hebergements {
  width: 65%; /* Updated width to fit the container */
  display: grid;
  gap: 20px; /* Spacing between cards */
  padding: 20px 0; /* Added padding to space out from top and bottom */
}

.hebergements-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Styles for the container of the cards */
.hebergements-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  gap: 20px; /* Spacing between cards */
  margin: 20px 0; /* Top and bottom margin for some spacing */
}

/* Styles for each card */
.hebergements-cards .card {
  min-height: 250px;

  display: flex;
  flex-direction: column; /* Stack elements vertically */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect for depth */
  border-radius: 20px; /* Rounded corners */
  overflow: hidden; /* Hide any overflowing content */
  transition: transform 0.3s; /* Smooth transformation effect */
}

/* Styles for card image */
.hebergements-cards .card img {
  width: 100%;
  height: 130px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* Styles for card content */
.hebergements-cards .card-content {
  padding: 10px; /* Padding all around for spacing */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

/* Styles for card title */
.hebergements-cards .card-title {
  margin-top: 1px;
  margin-bottom: 4px;
  font-weight: bold; /* Bold font for the title */
}

/* Styles for card subtitle (price) */
.hebergements-cards .card-subtitle {
  margin: 0;
  padding-top: 4px;
  padding-bottom: 3px;

  font-size: 13 px;
  color: #4a4a4a; /* Slight grey color for subtitle */
}

/* Styles for card rating */
.hebergements-cards .card-rating {
  color: #007bff; /* Blue color for the star ratings */
}

/* Hover effect for the card */
.hebergements-cards .card:hover {
  transform: scale(1.05); /* Scale the card slightly on hover */
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 7px;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 6px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/******** activity ***********/

/* Recommended Places Section */
.activity {
  margin-top: 50px;
  padding: 20px;
}

.activity-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.section-title {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

/* Grid display for cards */
.activity-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
  gap: 20px; /* Spacing between cards */
}

/* Ensuring no margin or padding at the top of the card */
.activity-cards .card {
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  height: 270px;
  transition: transform 0.2s;
  padding: 0;
  margin-top: 0;
  padding-top: 0;
  position: relative;
}

/* Ensuring the image itself doesn't have any margin and fills the container */
.activity-cards img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Style for card content */
.activity-cards .card-content {
  /* position: fixed; */
  font-size: 19px;
  padding: 12px;
}

/* Style for card title */
.activity-cards .card-title {
  font-size: 14px;
  margin: 0;
  padding-top: 0%;
  padding-bottom: 5%;
  margin-top: 0px;
}

/* Style for card description */
.activity-cards .card-description {
  font-size: 14px;
  color: #777;
  margin: 0;
}

/******** footer ***********/

footer {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #f0f0f0;
}

.footer-section {
  flex: 1;
  padding: 10px;
  margin: 5px;
}

.footer-section h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section li {
  margin-bottom: 10px;
}
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}

/* Small devices (phones, less than 768px) */
/* Vos styles actuels... */

/* Vos styles actuels... */

/* Media Query pour les écrans de petite taille (par exemple, moins de 768px) */
@media (max-width: 768px) {
  /* Changements généraux pour le header */
  header {
    flex-direction: column;
    padding: 0;
    align-items: center;
  }

  /* Styles pour le conteneur du logo */
  .logo-container {
    justify-content: center;
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
  }

  /* Styles de navigation pour mobile */
  /* Assurez-vous que le conteneur de liste n'a pas de padding ou de margin à gauche */

  /* Ajustements pour le lien actif sur mobile */
  nav li a.active {
    border-top: none;
    border-bottom: 2px solid var(--main-color);
    padding-top: 0;
    padding-bottom: 16px;
    margin-top: 0;
    width: 100%;
    text-align: center;
  }

  /* Assurez-vous que le conteneur de liste n'a pas de padding ou de margin à gauche */
  nav ul {
    padding-left: 0;
    margin-left: 0;
  }

  /* Assurez-vous que le premier élément de liste n'a pas de padding ou de margin à gauche */
  nav li:first-child {
    padding-left: 0;
    margin-left: 0;
  }

  /* Pour le premier lien dans le premier élément de liste */
  nav li:first-child a {
    padding-left: 0;
    margin-left: 0;
  }
  /****** Hebergements ***********/
  .hebergements {
    width: 100%; /* Updated width to fit the container */
    display: grid;
    gap: 20px; /* Spacing between cards */
    padding: 20px 0; /* Added padding to space out from top and bottom */
  }

  .hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  /* Styles for the container of the cards */
  .hebergements-cards {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Spacing between cards */
    margin: 20px 0; /* Top and bottom margin for some spacing */
  }

  /* Styles for each card */
  .hebergements-cards .card {
    min-height: 200px;

    display: flex;
    flex-direction: column; /* Stack elements vertically */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect for depth */
    border-radius: 20px; /* Rounded corners */
    overflow: hidden; /* Hide any overflowing content */
    transition: transform 0.3s; /* Smooth transformation effect */
  }

  /* Styles for card image */
  .hebergements-cards .card img {
    width: 100%;
    height: 130px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  /* Styles for card content */
  .hebergements-cards .card-content {
    padding: 10px; /* Padding all around for spacing */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    min-height: 100px;
  }

  /* Styles for card title */
  .hebergements-cards .card-title {
    margin-top: 1px;
    margin-bottom: 4px;
    font-weight: bold; /* Bold font for the title */
  }

  /* Styles for card subtitle (price) */
  .hebergements-cards .card-subtitle {
    margin: 0;
    padding-top: 4px;
    padding-bottom: 3px;

    font-size: 13 px;
    color: #4a4a4a; /* Slight grey color for subtitle */
  }

  /* Styles for card rating */
  .hebergements-cards .card-rating {
    color: #007bff; /* Blue color for the star ratings */
  }

  /* Hover effect for the card */
  .hebergements-cards .card:hover {
    transform: scale(1.05); /* Scale the card slightly on hover */
  }
}
